.QLOCKTWOContainer {
    background-color: #1c1f26;
    padding: 5vmin;
}

.CentreWrapper {
    display: flex;
    gap: 2vmin;
    justify-content: center;
    align-items: center;
}

.QLOCKSettings {
    height: 85vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 7vmin;
}

.QLOCKSettings > button{
    margin:1vmin 0 1vmin 0;
    background-color: #1c1f26;
}

.VerboseButton {
    flex: 1;
}

.SecondsButton {
    flex: 3;
}

.AMPMButton {  
    flex: 1;
}

.AMPMButton span {
    white-space: normal;
    word-wrap: break-word;
    font-size: 19px;
}