.QLOCKTile {
    margin: 0;
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
}

.QLOCKTile text{
    color: #2f3238;
    transition: all 200ms;
}

.tile-active text{
    color: #f0f0f0;
    text-shadow : 0vmin 0vmin 0.4vmin #f0f0f0;
    transition: all 200ms;
}

.QLOCKTiles {
    display: flex;
    flex-direction:column;
    margin-top: -100%;
    width: 75vmin;
    height: 75vmin;
    font-size: 5.1vmin;
}

.QLOCKTilesRow {
    flex: 1;
}