.QLOCKTWOContainer {
    background-color: #1c1f26;
    padding: 5vmin;
}

.CentreWrapper {
    display: flex;
    gap: 2vmin;
    justify-content: center;
    align-items: center;
}

.SecondsButton {
    background-color: #1c1f26;
    height: 65vmin;
    width: 7vmin;
}