.CornerIndicatorsContainer {
    position:relative;
    height: 75vmin;
    width: 75vmin;

}

.CornerIndicator {
    position: absolute;
    border-radius: 0.2vmin;
    background-color: #2f3238;
    height: 0.8vmin;
    width: 0.8vmin;
    transition: all 200ms;
}

:root {
    --indicatorDistance: -1.2vh;
}

#topLeft {
    top: var(--indicatorDistance);
    left: var(--indicatorDistance);
}

#topRight {
    top: var(--indicatorDistance);
    right:var(--indicatorDistance);
}

#bottomLeft {
    bottom: var(--indicatorDistance);
    left: var(--indicatorDistance);
}

#bottomRight {
    bottom: var(--indicatorDistance);
    right: var(--indicatorDistance);
}

.CornerIndicator.tile-active {
    background-color: #f0f0f0;
    box-shadow : 0vw 0vw 0.5vmin #f0f0f0;
    transition: all 200ms;
}